* {
  background-color: #f9c784;
  color: #485696;
   
}
.navbar {
  width: 100%;
}



/* .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 3px solid #FC7A1E;
  text-align: center;
  
  
}
section {
  display: flex;
} */

 /* body {
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100%;
} */

section {
  padding-top: 60px; /* Adjust according to the height of the navbar */
/* } */

/* .body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}  */

/* button {
  background-color: #FC7A1E;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
} */

