* {
  background-color: #f9c784;
  color: #485696;
  
}



/* .body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border: 3px solid #FC7A1E;
  text-align: center;
  
  
}
section {
  display: flex;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

section {
  padding-top: 60px; /* Adjust according to the height of the navbar */
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

